{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Admin Ecommerce' %}

{% block page_content %}
	<h1>Tableau de bord</h1>
{% endblock %}
