{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}
	{{  include ("partials/title_section.html.twig", {'name':'Contact'}) }}
	<div class="container">
		{{ include('contact/_form.html.twig') }}
	</div>


{% endblock %}
