{% extends 'base.html.twig' %}

{% block title %}CGU
{% endblock %}


{% block body %}
	{{ include ("partials/title_section.html.twig", {'name': 'CGU'}) }}
	<div class="container">
		<h1 class="text-center">Conditions générales d'utilisation du site</h1>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis, velit voluptatem. Cum itaque doloribus aliquam nihil quas voluptate impedit soluta sed, omnis maxime ea esse voluptas perferendis modi accusamus consectetur.</p>
		<p>
			<span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo atque aspernatur eligendi numquam sapiente deserunt accusantium omnis, officia dolore modi quasi id quibusdam, amet blanditiis beatae cumque eaque! Eius, quisquam.</span>
			<span>Non maiores, voluptate doloremque totam, earum enim harum incidunt laboriosam praesentium, saepe sequi asperiores? Dolores nemo hic voluptas molestiae quam nihil vero inventore ex perspiciatis, aut nulla reiciendis non iusto!</span>
			<span>Vitae perspiciatis ab eveniet tempore, quibusdam optio reprehenderit illum, beatae, nobis earum vel odit! Commodi illo esse facere, magni tempora impedit minima non at, enim dolorum molestias, eius aliquid aperiam?</span>
			<span>Alias dolores dolorem quia quas iure dolorum voluptate? Exercitationem laborum fugiat minima quas, voluptatem doloremque nam veniam deleniti impedit accusamus ea tempora vero sed velit vitae porro tempore doloribus explicabo?</span>
			<span>Ipsam, quisquam voluptates? Est magnam incidunt quidem, ipsum, explicabo, perferendis nostrum adipisci quis at quos exercitationem eum excepturi quisquam! Facere, ad aperiam. Quam, earum at illum ad hic voluptate quos.</span>
		</p>
	</div>
{% endblock %}
