<form method="post" action="{{ path('address_delete', {'id': id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet adresse ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ id) }}">
	<button class="btn btn-border-fill btn-block">Supprimer</button>
</form>
